


.main-footer {
  background-color: $black;
  padding: 10px 0px;
  margin-top: 40px;

  font-size: 0.9em;
  color: $gray;

  a, a:visited {
    color: $white;
  }

  ul {
    margin-bottom: 20px;

    li {
      margin-bottom: .8em;
    }

    .overview {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .copyright {
    margin: 10px 0px;
  }
}
