// Site Master Header

$header-bg-width: 624px;

.master-header {

  //
  //
  @include linear-gradient(#2e3d8b, #000562);
  color: $white;

  .container {

  }

  .logo {

    h1 { display: none; }

  }

  .conference-info {

    dt {
      display: none;
    }

    dd {

      time {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
      }

      span[itemprop="location"] {
        span[itemprop="street-address"] {
          display: none;
        }

      }
    }
  }

  .social {
    color: $orange;
    margin-top: 10px;
    font-size: 14px;
    span { display: none; }
  }

  @media screen and (min-width: $screen-md) and (max-width: $screen-lg) {

  }

  @media screen and (max-width: $screen-md) {

  }

  @media screen and (max-width: $screen-sm) {

  }

}